/* ─── Primitivos ────────────────────────────────────────── */
:root {

  --ds-blue:    #0039a6;
  --ds-white:   #ffffff;


  --ds-blue-primary: #00598d;
  --ds-blue-light:   #00a7f7;
  --ds-blue-tint:    #75d4ff;

  --ds-red-primary:  #8d0e3f;
  --ds-red-light:    #ec2661;
  --ds-red-tint:     #ec2665;

  --ds-green:        #cdde20;
  --ds-orange:       #ff9901;

  /* Neutrales */
  --neutral-0:   #ffffff;
  --neutral-50:  #f9fafb;
  --neutral-100: #f3f4f6;
  --neutral-200: #e5e7eb;
  --neutral-400: #9ca3af;
  --neutral-500: #6b7280;
  --neutral-700: #374151;
  --neutral-900: #111827;
  --neutral-950: #030712;

  /* Feedback */
  --feedback-success: #22c55e;
  --feedback-warning: #f59e0b;
  --feedback-error:   #ef4444;
  --feedback-info:    #3b82f6;

  /* Tipografía */
  --font-size-xs:   0.75rem;
  --font-size-sm:   0.875rem;
  --font-size-base: 1rem;
  --font-size-lg:   1.125rem;
  --font-size-xl:   1.25rem;
  --font-size-2xl:  1.5rem;
  --font-size-3xl:  1.875rem;

  /* Radio */
  --radius-sm:   0.25rem;
  --radius-md:   0.375rem;
  --radius-lg:   0.5rem;
  --radius-xl:   0.75rem;
  --radius-full: 9999px;

  /* Espaciado */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;
}